<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Elder Futhark Casting</title>
    <style>
      body {
        max-width: 33em;
        margin: auto;
        font-family: Papyrus, cursive;
      }
      nav a {
        padding: 0.1em 0.5em;
      }
    </style>
  </head>
  <body>
    <h1>Casting of the Elder Futhark</h1>
    <nav>
      <a href="/">Home</a>
      <a href="<%= ElderFutharkWeb.Router.Helpers.casting_path(@conn, :single) %>">Single</a>
      <a href="<%= ElderFutharkWeb.Router.Helpers.casting_path(@conn, :triple) %>">Triple</a>
    </nav>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
