<dl>
    <dt>Past</dt>
    <dd>
      <%= render ElderFutharkWeb.SharedView, "rune.html", rune: @past_rune %>
    </dd>

    <dt>Present</dt>
    <dd>
      <%= render ElderFutharkWeb.SharedView, "rune.html", rune: @present_rune %>
    </dd>

    <dt>Future</dt>
    <dd>
      <%= render ElderFutharkWeb.SharedView, "rune.html", rune: @future_rune %>
    </dd>
